---
on:
  push:
    tags:
      - "*"

# Help here: https://github.com/espressif/esp-idf-ci-action

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v5
      with:
        submodules: 'recursive'
    - name: esp-idf build
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: release-v6.0
        target: esp32s3
        path: '.'
    - name: Upload build
      run: >
        gh release create ${{ github.ref_name }}
        build/tinyecg.bin
      env:
        GITHUB_TOKEN: ${{ github.TOKEN }}
      shell: bash
